@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1, h2, h3, h4, h5, h6, p {
    @apply text-white;
  }

  hr {
    @apply border-primary-dark;
  }
}

@font-face {
  font-family: 'Lexend';
  src: url('../fonts/Lexend-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
}

* {
  @apply text-base;
}

.button-icon {
  @apply ml-2;
}

.player0 {
  color: #3b82f6;
}

.player0-dark {
  color: #1d417b;
}

.bg-player0 {
  background-color: #3b82f6;
}

.border-player0 {
  border-color: #3b82f6;
}

.player1 {
  color: #f43f5e;
}

.player1-dark {
  color: #7a202f;
}

.bg-player1 {
  background-color: #f43f5e;
}

.border-player1 {
  border-color: #f43f5e;
}

.player2 {
  color: #f59e0b;
}

.player2-dark {
  color: #7a4f05;
}

.bg-player2 {
  background-color: #f59e0b;
}

.border-player2 {
  border-color: #f59e0b;
}

.player3 {
  color: #22c55e;
}

.player3-dark {
  color: #11632f;
}

.bg-player3 {
  background-color: #22c55e;
}

.border-player3 {
  border-color: #22c55e;
}